@media (prefers-color-scheme: dark) {
  section#sidebar[data-sort='custom']>div#bookmarkBox a:hover {
    background-color: #555555;
  }
}
@media (prefers-color-scheme: dark) {
  div.contextmenu {
    background-color: #4b4b4b;
  }
}
@media (prefers-color-scheme: dark) {
  div.contextmenu>ul.icons {
    background-color: #555555;
  }
}
@media (prefers-color-scheme: dark) {
  body>iframe#blockbyte-bs-sidebar  {
    background-color: rgba(0,0,0,.6) !important;
  }
}
@media (prefers-color-scheme: dark) {
  section#sidebar>div.scrollBox>ul a.dir>span.icon::before, section#sidebar>div.scrollBox>div.pinned>ul a.dir>span.icon::before {
    background-color: #c8c8c8;
  }
}
@media (prefers-color-scheme: dark) {
  section#sidebar > header > a::before  {
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  div.contextmenu > ul.icons > li > a::before  {
    background-color: #cccccc;
  }
}
@media (prefers-color-scheme: dark) {
  div.contextmenu>ul.list>li>a::before  {
    background-color: #cccccc !important;
  }
}
